
<!-- component -->
<!-- This is an example component -->
<div class="w-full">
    <a
            class="text-center block items-center gap-2 px-8 py-3 text-indigo-600 hover:bg-indigo-600 hover:text-white focus:outline-none focus:ring active:bg-indigo-500"
            href="/sso"
    >
        <svg
                class="inline h-5 w-5 rtl:rotate-180"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
        >
            <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M17 8l4 4m0 0l-4 4m4-4H3"
            />
        </svg>
        <span class="text-sm font-medium"> Saya memiliki akun SSO PNJ (sebelum 2023) </span>
    </a>
    <a
            class="mt-2 text-center block items-center gap-2 px-8 py-3 text-indigo-600 hover:bg-indigo-600 hover:text-white focus:outline-none focus:ring active:bg-indigo-500"
            href="/migration"
    >
        <svg
                class="inline h-5 w-5 rtl:rotate-180"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
        >
            <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M17 8l4 4m0 0l-4 4m4-4H3"
            />
        </svg>
        <span class="text-sm font-medium"> Saya belum memiliki akun SSO PNJ </span>
    </a>
</div>
