<div class="w-full">
    <p class="text-center">Jika Anda sudah memiliki akun SSO PNJ sebelum tahun 2024, mohon untuk mereset password dengan klik tombol dibawah ini</p>
    <div class="flex bg-yellow-100 rounded-lg p-4 my-4 text-sm text-yellow-700" role="alert">
        <div class="text-center">
            Mohon cek email dan folder spam Anda setelah mereset password SSO PNJ
        </div>
    </div>
</div>
